@using System.Text.RegularExpressions;
@{
	ViewBag.Title = "Standard Draft Rankings";
}

@section HeadCSS
{
	<link href="~/Content/colors.css" rel="stylesheet" />
	<link href="~/Content/corners.css" rel="stylesheet" />
	<link href="~/Content/icons.css" rel="stylesheet" />
	<link href="~/Content/mobile.css" rel="stylesheet" />
}

@*@foreach (FantasyFootball.Models.RankingsPost Writer in Model)*@
@for (int i = 0; i < Model.Count; i++)
{
	FantasyFootball.Models.RankingsPost Writer = Model[i]; 
	<div data-role="page" id="writer_@i">
		<div data-role="header">
			<h1>@ViewBag.Title</h1>
		</div>

		<div data-role="content">
			<div style="margin-bottom: 1em; text-align: center;">
				<img src="@Writer.Thumbnail" style="display: inline-block; margin: 2px auto;" /><br />
				<h3 style="margin: 2px auto; text-align: center;">@Writer.Author</h3>
				@*<twitter>@Writer.Twitter</twitter><br />*@
				<span style="color: #ccc; display: block; text-align: center;">@Writer.TimeStamp</span>
			</div>			
			
			@foreach (FantasyFootball.Models.Ranking Rank in Writer.Rankings)
			{
				<ul class="playerRank">
					<li class="name gdWhite"><span>@Rank.Name@((Rank.Position == "DST") ? " D/ST" : "")</span></li>
					<li class="pick gdBlack txWhite txBold txCenter roundTopL roundBottomL">@Rank.Rank</li>
					<li class="team">
						<ul class="playerRole">
							<li class="teamIcon smIco_@Rank.Team.ToLower()"></li>
							<li class="gdBlack txWhite txBold txCenter roundTopR roundBottomR">@Rank.Position</li>
						</ul>
					</li>
				</ul>
			}
		</div>

		<div data-role="footer" data-id="footer-nav" data-position="fixed">
			<div data-role="navbar">
				<ul>
					@for (int j = 0; j < Model.Count; j++)
					{
						FantasyFootball.Models.RankingsPost Author = Model[j];
						Match firstName = Regex.Match(Author.Author, @"^\w+", RegexOptions.Singleline);
						<li><a href="#writer_@j" class="@((i == j) ? "ui-btn-active  ui-state-persist" : string.Empty)" data-transition="none">@firstName.Value</a></li>
					}
				</ul>
			</div>
		</div>
	</div>
}