@model List<FantasyFootball.Models.Player>

@section HeadCSS
{
	<style type="text/css">
		.gdBlack {
			padding: 2px 0;
		}
	</style>
}

<div data-role="page">
	<div data-role="header">
		<h1>@ViewBag.Title</h1>
		@Html.Partial("~/Views/Yahoo/_Menu.cshtml")
	</div>
	<div data-role="content">
		@{foreach (FantasyFootball.Models.Player Player in Model)
			{
				int myIndex = Array.IndexOf(((FantasyFootball.Common.ApplicationWeeklyStats)ViewBag.WeeklyStats).PositionStats[Player.Position], Player.Opponent.ToUpper()) + 1;
				<div style="margin-bottom: 0.5em; background-color: #fff; border: solid 1px #ddd;" class="roundTopL roundBottomL roundTopR roundBottomR">
					<table width="100%" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td width="35px">
								<img src="http://sports.cbsimg.net/images/football/nfl/players/60x80/@string.Format("{0}.jpg", Player.PlayerAltId)" class="roundTopL roundBottomL" style="height: 50px; width: auto; display: block" />
							</td>
							<td width="40px">
								<div class="teamIcon"><img src="~/Content/images/icons/teams/80x60/@string.Format("{0}.jpg", Player.Team.ToLower())" width="40" height="30" /></div>
								<div class="gdBlack txWhite txBold txCenter">@Player.Position</div>
							</td>
							<td style="padding: 3px 10px;">
								<b>@Html.Raw(Player.Name)</b><br />@Player.Note01
							</td>
							<td width="40px">
								<div class="teamIcon roundTopR"><img src="~/Content/images/icons/teams/80x60/@string.Format("{0}.jpg", Player.Opponent.ToLower())" width="40" height="30" class="roundTopR" /></div>
								<div class="txWhite txBold txCenter roundBottomR @(myIndex <= 10 ? "gdRed" : (myIndex >= 23 ? "gdGreen" : "gdBlack"))">@myIndex</div>
							</td>
						</tr>
					</table>
				</div>
			}
		}
	</div>
</div>



