@model Dictionary<string, List<FantasyFootball.Models.Ranking>>

@foreach (KeyValuePair<string, List<FantasyFootball.Models.Ranking>> myEntry in Model)
{
	<div data-role="page" id="@string.Format("{0}-page", myEntry.Key.ToLower())">
		<div data-role="header">
			<h1>PPR Rankings - @myEntry.Key</h1>
			@Html.Partial("~/Views/Yahoo/_Menu.cshtml")
		</div>
		<div role="main" class="ui-content">
			@foreach (FantasyFootball.Models.Ranking Rank in myEntry.Value)
			{
				<ul class="sm-playerRank">
					<li class="name gdWhite"><b class="ui-link">@Rank.Name@((Rank.Position == "DST") ? " D/ST" : "")</b></li>
					<li class="pick">
						<ul class="playerRole">
							<li class="@((Rank.Active) ? "gdGreen" : "gdBlack") txWhite txBold txCenter roundTopL roundBottomL">@Rank.Rank</li>
							<li class="teamIcon"><img src="~/Content/images/icons/teams/80x60/@string.Format("{0}.jpg", Rank.Team.ToLower())" width="40" height="30" /></li>
						</ul>
					</li>
					<li class="opponent roundTopR roundBottomR"><img src="~/Content/images/icons/teams/80x60/@string.Format("{0}.jpg", Rank.Opponent.ToLower())" width="40" height="30" class="roundTopR roundBottomR" /></li>
				</ul>
			}
		</div>
		<div data-role="footer" data-position="fixed">
			<div data-role="navbar" class="ui-state-persist">
				<ul>
					@foreach (string myPos in Model.Keys)
					{
						<li><a href="#@string.Format("{0}-page", myPos.ToLower())" class="@(myEntry.Key == myPos ? "ui-btn-active" : "")">@myPos</a></li>
					}
				</ul>
			</div><!-- /navbar -->
		</div>
	</div>
}